{% include "header.html"%}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>درباره من</h1>
                            <span class="subheading">به این صورت .</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>من یک مهندس مکانیک متولد سال ۱۳۷۱ (1992) هستم که پس از سال‌ها کار در زمینه اجراء نیروگاه‌ها و ماشین‌آلات صنعتی، در سال ۲۰۲۵ عاشق برنامه‌نویسی شدم و تصمیم گرفتم مسیر شغلی خود را به سمت پایتون تغییر دهم. اگرچه پیشینه من در سیستم‌های مکانیکی است، اما امروز با همان دقت و تفکر تحلیلی، کد می‌نویسم و به دنبال ساخت اپلیکیشن‌های هوشمند و خودکارسازی فرآیندها هستم.</p>
                        <p>برنامه‌نویسی برای من تنها یک تغییر شغل نیست، بلکه فضایی است که در آن منطق و خلاقیت با هم ترکیب می‌شوند. من مصمم هستم تا پایتون را به طور حرفه‌ای یاد بگیرم، در پروژه‌های اوپن‌سورس مشارکت کنم و در نهایت در نقش‌هایی کار کنم که تجربه مهندسی من را با فناوری‌های روز ادغام کنند. هر خط کدی که می‌نویسم، گامی در این مسیر جدید است.</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include "footer.html"%}
    </body>
</html>
